<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Aplikasi Prediksi Mobile Price</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Fitur Mobile:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >
                <label for="battery_power" class="mb-2">Battery</label>
                <input
                    type="text"
                    name="battery_power"
                    placeholder="Battery Power"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />
               
               <label for="blue" class="mb-2">Bluetooth</label>
                <input
                    type="text"
                    name="blue"
                    placeholder="Bluetooth"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />


                <label for="clock_speed" class="mb-2">Clock Speed</label>
                <input
                    type="text"
                    name="clock_speed"
                    placeholder="Clock speed"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="dual_sim" class="mb-2">Dual sim</label>
                <input
                    type="text"
                    name="dual_sim"
                    placeholder="Dual sim"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="fc" class="mb-2">Front Camera</label>
                <input
                    type="text"
                    name="fc"
                    placeholder="Front Camera"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="four_g" class="mb-2">Four G</label>
                <input
                    type="text"
                    name="four_g"
                    placeholder="Four G"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="int_memory" class="mb-2">Memory</label>
                <input
                    type="text"
                    name="int_memory"
                    placeholder="Memory"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="m_dep" class="mb-2">Mobile Depth</label>
                <input
                    type="text"
                    name="m_dep"
                    placeholder="Mobile Depth"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="mobile_wt" class="mb-2">Weight of mobile</label>
                <input
                    type="text"
                    name="mobile_wt"
                    placeholder="Weight of mobile phone"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="n_cores" class="mb-2">Cores</label>
                <input
                    type="text"
                    name="n_cores"
                    placeholder="Cores"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="pc" class="mb-2">Primary Camera</label>
                <input
                    type="text"
                    name="pc"
                    placeholder="Primary Camera"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="px_height" class="mb-2">Height</label>
                <input
                    type="text"
                    name="px_height"
                    placeholder="Height"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="px_width" class="mb-2">Width</label>
                <input
                    type="text"
                    name="px_width"
                    placeholder="Width"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="ram" class="mb-2">Ram</label>
                <input
                    type="text"
                    name="ram"
                    placeholder="Ram"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="sc_h" class="mb-2">Screen Height(cm)</label>
                <input
                    type="text"
                    name="sc_h"
                    placeholder="Screen Height"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="sc_w" class="mb-2">Screen Width(cm)</label>
                <input
                    type="text"
                    name="sc_w"
                    placeholder="Screen Height"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="talk_time" class="mb-2">Longest time</label>
                <input
                    type="text"
                    name="talk_time"
                    placeholder="Longest time"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="three_g" class="mb-2">Three G</label>
                <input
                    type="text"
                    name="three_g"
                    placeholder="Three G"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="touch_screen" class="mb-2">Touch screen</label>
                <input
                    type="text"
                    name="touch_screen"
                    placeholder="Touch screen"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="wifi" class="mb-2">Wifi</label>
                <input
                    type="text"
                    name="wifi"
                    placeholder="Wifi"
                    required="required"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PREDIKSI SEKARANG
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
                <h1 class="text-2xl mb-8">
                    Berita tersebut diprediksikan
                </h1>
                <h2 class="text-5xl font-bold">{{ prediction }}</h2>
                {% if (prediction) != '' %}
                <div class="mt-8">
                    <p>Battery Power: {{ battery_power }}</p>
                    <p>Bluetooth: {{ blue }}</p>
                    <p>Clock Speed: {{ clock_speed }}</p>
                    <p>Dual Sim: {{ dual_sim }}</p>
                    <p>Front Camera: {{ fc }}</p>
                    <p>4G: {{ four_g }}</p>
                    <p>Internal Memory: {{ int_memory }}</p>
                    <p>Mobile Depth: {{ m_dep }}</p>
                    <p>mobile Weight: {{ mobile_wt }}</p>
                    <p>Core: {{ n_cores }}</p>
                    <p>Primary Camera: {{ pc }}</p>
                    <p>Height: {{ px_height }}</p>
                    <p>Width: {{ px_width }}</p>
                    <p>RAM: {{ ram }}</p>
                    <p>Screen Height(cm): {{ sc_h }}</p>
                    <p>Screen Width(cm): {{ sc_w }}</p>
                    <p>Longest Time: {{ talk_time }}</p>
                    <p>3G: {{ three_g }}</p>
                    <p>Touch Screen: {{ touch_screen }}</p>
                    <p>WIFI: {{ wifi }}</p>
                </div>
                {% endif %}
            </div>
            <div class="flex justify-around bg-white p-16 rounded-lg mt-8">

                <img
                    class="h-24 md:h-28"
                    src="https://drive.google.com/thumbnail?id=1U664Ihl02fVgBVTvZ1-5kxotHDs-Uomq"
                    alt="logo-it-itts"

                />
            </div>
        </section>
    </body>
</html>
